.header {
    padding-top: 30px;
    margin-bottom: 45px;
}

.headerContainer {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.logo { 
    margin-right: 178px;
}